<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
<script type="text/javascript">
    
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('info', {data: 'I\'m connected!'});
    });
  
		function shutdown(mode, time){
			sendCommand(3, [mode, time]);
		}

		function vol(val){
			sendCommand(2, val);
		}

		function pressKey(key){
			sendCommand(1, key);
		}

		function moveMouse(deltaX, deltaY){
			sendCommand(0, [deltaX, deltaY]);
		}
</script>

<style>
* {
    margin: 0;
}

body {
    background: #444;
}

#header {
    text-align: center;
    background: #444;
    font-size: 4vh;
    text-decoration: underline;
    height: 6vh;
}

#header, button{
    color: #eee;
    text-shadow: 1px 1px 2px black,
                1px -1px 2px black,
                -1px 1px 2px black,
                -1px -1px 2px black;
}

button {
    background: gray;
    border: none;
    box-shadow: .5vw .5vh 5px black;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2.5vh;
}

 /* Disables dotted focus border in firefox */
::-moz-focus-inner {border:0;}

.grayFading {
    animation: grayFade 1s;
}

@keyframes grayFade {
    from { background: #222;}
}

 /* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    background-color: #bbb;
    height: 6vh;
    border: 5px inset;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: inline-block;
    background-color: inherit;
    margin: 0.5vh auto;
    border: none;
    outline: none;
    cursor: pointer;
    height: 4vh;
    width: 45%;
    transition: 0.3s;
    font-size: 2.5vh;
    border: 1px solid #888;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #444;
    border: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: 70vh;
    padding: 6px 12px;
    background: #444;
    max-width: 1200px;
    margin: 0 auto;
} 

#mousecontainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mousecontainer div {
    margin: 0 1vw;
}

#trackpad {
    width: 80%;
    height: 80%;
    background-color: beige;
    border: 5px outset gray;
    pointer-events: auto !important;
}

#scrollbar {
    width: 10%;
    height: 80%;
    background: gray;
    border: 5px outset gray;
    pointer-events: auto !important;
}

#specialButtonListContainer {
    display: flex;
    width: 60%;
    margin: 0 auto;
    height: 8vh;
    margin: 1vh auto;
}
#specialButtonListContainer li {
    list-style: none;
    width: 20vw;
    margin: 0 auto;
}

#specialButtonListContainer li button {
    width: 100%;
    height: 100%;
}

#buttonListContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    
    margin: 2vh auto;
    list-style: none;
}

#buttonListContainer  li{
    margin: auto;
    width: 80%;
    height: 15vh;
}

#buttonListContainer li button {
    width: 100%;
    height: 100%;
}

#g00 {
    grid-row: 1;
    grid-column: 1;
}
#g01 {
    grid-row: 1;
    grid-column: 2;
}
#g02 {
    grid-row: 1;
    grid-column: 3;
}
#g10 {
    grid-row: 2;
    grid-column: 1;
}
#g11 {
    grid-row: 2;
    grid-column: 2;
}
#g12 {
    grid-row: 2;
    grid-column: 3;
}
#g20 {
    grid-row: 3;
    grid-column: 1;
}
#g21 {
    grid-row: 3;
    grid-column: 2;
}
#g22 {
    grid-row: 3;
    grid-column: 3;
}
#g3footer {
    grid-row: 4;
    grid-column: 1 / span 3;
}

</style>

<script>
function openPane(ev, paneIndex){
  var i, tabContent, tablinks;
  
  tabContent = document.getElementsByClassName("tabcontent");
  for(i=0; i<tabContent.length; i++){
    tabContent[i].style.display = "none";
  }
  
  tablinks = document.getElementsByClassName("tablinks");
  for(i=0; i<tablinks.length; i++){
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  
  tabContent[paneIndex].style.display = "block";
  ev.currentTarget.className += " active";
  
  
  
}
</script>
</head>
<body>
<h1 id="header">Alpha Serve</h1>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openPane(event, 0)">Keys</button>
  <button class="tablinks" onclick="openPane(event, 1)">Mouse</button>
</div>

<!-- Tab content -->
<div id="Keys" class="tabcontent">
<div id="specialButtonListContainer">
  {% for button in specialButtons %}
      <li id="{{button.id if  button.id != None}}" ><button class="button" onclick="{{button.func}};"> {{button.label}}</button></li>
  {% endfor %}
</div>
<div id="buttonListContainer">
  {% for button in buttonsGrid %}
      <li id="{{button.id if  button.id != None}}" ><button class="button" onclick="{{button.func}};"> {{button.label}}</button></li>
  {% endfor %}
</div>
</div>

<div id="Mouse" class="tabcontent">
<div id="mousecontainer">
  <div id="trackpad"></div>
  <div id="scrollbar"></div>
</div>
</div>

<script>
var el = document.getElementsByClassName("button");
var i;

for(i=0; i<el.length; i++){
  el[i].addEventListener("click", function(ev){
    this.classList.remove("grayFading");
    void this.offsetWidth;
    this.classList.add("grayFading");
  }, false);
}
</script>
<script src="{{ url_for('static', filename='scripts/hammer.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/my.js') }}"></script>
</body>
</html>
