body {
background: #252525;
color: white;
width: 100%;
margin: 0;
}

h1 {
text-align: center;
font-size: 3rem;
background: #333;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.buttonList {
list-style-type: none;
overflow-x: scroll;
height: 25%;
white-space: nowrap;
overflow-y: hidden;
overflow-x: auto;
margin: 0 auto;
}

.buttonList li {
display: inline-block;
}

.button{
background-color: darkgray;
border: none;
color: white;
padding: 15px 32px;
margin: 2rem 1rem;
text-align: center;
text-decoration: none;
font-size: 1.5rem;
min-width: 10rem;
height: 70%;;
}


#trackpad {
width: 80%;
height: 400px;
background-color: beige;
border: 1px solid gray;
}


